/* set body backgroudn to dark grey */
body {
    background-color: #2d2d2d;
    overflow: hidden;
}

.main {
    display: flex;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

chess-board{
    position: center;
    height: 1fr;
}
.container { 
    padding-left: 20px; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2.2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    grid-template-areas:
      "."
      "."
      ".";
}

.username {
    color: white;
}